pipeline/pipelinetestpostman_copy1.json
{
	"name": "pipelinetestpostman_copy1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Script1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "variable1",
					"value": {
						"value": "@if(bool(contains(activity('Script1').output,'resultSets')),1,2)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "asql_asqldbtest",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "EXEC USP_error_data_test"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"param_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"parama_VALUE": {
				"type": "string",
				"defaultValue": "UNO"
			}
		},
		"variables": {
			"variable1": {
				"type": "String"
			}
		},
		"folder": {
			"name": "YanbalPipelines/YanbalODS_BusinessApp"
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T01:16:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}