adfIntegrationAzureSqlADFTest3/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfIntegrationAzureSqlADFTest3"
		},
		"Kv_connection_string_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "@{linkedService().ParamUrlKeyVault}"
		},
		"ls_azure_sql_db_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().ParamDataSourceCode"
		},
		"ls_sql_server_db_properties_typeProperties_connectionString_secretName": {
			"type": "string",
			"defaultValue": "@linkedService().ParamDataSourceCode"
		},
		"SQLAZ-PEP-DEV-02_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/aad81a64-663b-4cf5-9ada-e3d8413031e7/resourceGroups/arsgryandyaeastusdevcorp01/providers/Microsoft.Sql/servers/sqlaz-db-dev-01"
		},
		"SQLAZ-PEP-DEV-02_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		},
		"SQLAZ-PEP-DEV-02_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sqlaz-db-dev-01.database.windows.net"
			]
		},
		"SQLAZ-PEP-PRD-02_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/aad81a64-663b-4cf5-9ada-e3d8413031e7/resourceGroups/arsgryandyaeastusprdcorp01/providers/Microsoft.Sql/servers/sqlaz-db-prd-01"
		},
		"SQLAZ-PEP-PRD-02_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		},
		"SQLAZ-PEP-PRD-02_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sqlaz-db-prd-01.database.windows.net"
			]
		},
		"SQLAZ-PEP-UAT-02_properties_privateLinkResourceId": {
			"type": "string",
			"defaultValue": "/subscriptions/2e2ccba2-3075-4acc-b7a4-8c7ee9441977/resourceGroups/arsgrybobappeastusnprd01/providers/Microsoft.Sql/servers/sqlaz-db-uat-01"
		},
		"SQLAZ-PEP-UAT-02_properties_groupId": {
			"type": "string",
			"defaultValue": "sqlServer"
		},
		"SQLAZ-PEP-UAT-02_properties_fqdns": {
			"type": "array",
			"defaultValue": [
				"sqlaz-db-uat-01.database.windows.net"
			]
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_EjecutarQuerysSQL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "04_Execute Query SQL",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "03_Generar lista parametros",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@json(variables('varListParameters')).dsrcDestination",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "@json(variables('varListParameters')).ExecuteQuery",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "01_Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "05_End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Execute Query SQL",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_GET Step configuration",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "03_Generar lista parametros",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "02_GET Step configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('02_GET Step configuration').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "get parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varParameter",
										"value": {
											"value": "@string(union(json(variables('varListParameters')),json(concat('{\"',item().Parameter,'\":\"',item().ParameterValue,'\"}'))))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Add parameter to json parameters",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "get parameter",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varListParameters",
										"value": {
											"value": "@variables('varParameter')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "05_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "05_End Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('05_End Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Execute Query SQL",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('04_Execute Query SQL').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "03_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Generar lista parametros",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('03_Generar lista parametros').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "02_GET Step configuration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('02_GET Step configuration').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "01_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('01_Start Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "01_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "02_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "03_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "04_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "05_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
								"type": "Expression"
							},
							"errorCode": "0001"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					},
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					}
				},
				"variables": {
					"varListParameters": {
						"type": "String",
						"defaultValue": "{}"
					},
					"varParameter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T16:46:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoad')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "05_Finalizacion ejecucion pipeline",
						"type": "Until",
						"dependsOn": [
							{
								"activity": "04_Set Url Status Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@bool(variables('ExecutePipelineFinished'))",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Obtener estado de ejecucion pipeline",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"method": "GET",
										"headers": {},
										"url": {
											"value": "@variables('VarUrlStatusRunIdPipeline')",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com"
										}
									}
								},
								{
									"name": "Set RunStatus Pipeline",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Obtener estado de ejecucion pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "RunStatus",
										"value": {
											"value": "@string(activity('Obtener estado de ejecucion pipeline').output.status)",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Set pipeline finished",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "Set RunStatus Pipeline",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "ExecutePipelineFinished",
										"value": {
											"value": "@if(equals(variables('RunStatus'), 'Queued'),'False',if(equals(variables('RunStatus'), 'InProgress'),'False',if(equals(variables('RunStatus'), 'Canceling'),'False','True')))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Esperar 3s",
									"type": "Wait",
									"dependsOn": [
										{
											"activity": "Set pipeline finished",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 3
									}
								}
							],
							"timeout": "0.01:00:00"
						}
					},
					{
						"name": "04_Set Url Status Pipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "03_Ejecutar Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarUrlStatusRunIdPipeline",
							"value": {
								"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlStatusRunIdPipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@runidpipeline',string(activity('03_Ejecutar Pipeline').output.runId)),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "03_Ejecutar Pipeline",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "02_Set Url Execute Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"method": "POST",
							"headers": {},
							"url": {
								"value": "@variables('VarUrlExecutePipeline')",
								"type": "Expression"
							},
							"body": {
								"value": "@concat('{  \"ParamExecuteLoadCode\": \"',pipeline().parameters.ParamExecuteLoadCode,'\",\"ParamExecuteLoadId\":\"', pipeline().parameters.ParamExecuteLoadId,'\",\"ParamEnvironment\":\"', pipeline().parameters.ParamEnvironment,'\",\"ParamCountryCode\":\"',pipeline().parameters.ParamCountryCode, '\",\"ParamdsrcIntegration\": \"', pipeline().parameters.ParamdsrcIntegration,'\",\"ParamSubscription\": \"',pipeline().parameters.ParamSubscription,'\",\"ParamResourceGroup\":\"', pipeline().parameters.ParamResourceGroup,'\",\"ParamInstanceNameADF\":\"', pipeline().parameters.ParamInstanceNameADF,'\",\"ParamUrlExecutePipeline\":\"',pipeline().parameters.ParamUrlExecutePipeline, '\",\"ParamUrlStatusRunIdPipeline\": \"', pipeline().parameters.ParamUrlStatusRunIdPipeline, '\"}')\n",
								"type": "Expression"
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com"
							}
						}
					},
					{
						"name": "02_Set Url Execute Pipeline",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "VarUrlExecutePipeline",
							"value": {
								"value": "@replace(replace(replace(replace(pipeline().parameters.ParamUrlExecutePipeline, '@subscriptionId', pipeline().parameters.ParamSubscription), '@resourceGroup', pipeline().parameters.ParamResourceGroup),'@pipelinename',pipeline().parameters.ParamPipelineNameADF),'@adfName',pipeline().parameters.ParamInstanceNameADF)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "01_Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "06_End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "07_If Error Pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Set Url Status Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('04_Set Url Status Pipeline').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "03_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Ejecutar Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('03_Ejecutar Pipeline').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "02_Set Url Execute Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('02_Set Url Execute Pipeline').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "01_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('01_Start Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "05_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "05_Finalizacion ejecucion pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('05_Finalizacion ejecucion pipeline').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "06_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "06_End Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('06_End Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "01_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "02_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "03_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "04_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "05_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "06_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							},
							{
								"activity": "07_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
								"type": "Expression"
							},
							"errorCode": "0001"
						}
					},
					{
						"name": "07_If Error Pipeline",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "05_Finalizacion ejecucion pipeline",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@if(equals(activity('Obtener estado de ejecucion pipeline').output.status, 'Failed'),'True',if(equals(activity('Obtener estado de ejecucion pipeline').output.status, 'Cancelled'),'True','False'))\n\n\n\n",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "07_1_Finished Process  03_Execute Pipeline - Save Log",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
										"storedProcedureParameters": {
											"Comments": {
												"value": {
													"value": "@concat('@RunId ',string(activity('03_Ejecutar Pipeline').output.runId),  ' Finished Process : ',pipeline().parameters.ParamExecuteLoadCode)",
													"type": "Expression"
												},
												"type": "String"
											},
											"CountryCode": {
												"value": {
													"value": "@pipeline().parameters.ParamCountryCode",
													"type": "Expression"
												},
												"type": "String"
											},
											"Enviroment": {
												"value": {
													"value": "@pipeline().parameters.ParamEnvironment",
													"type": "Expression"
												},
												"type": "String"
											},
											"ExecuteLoadConfiguration": {
												"value": {
													"value": "@pipeline().parameters.ParamExecuteLoadId",
													"type": "Expression"
												},
												"type": "Int16"
											},
											"LoadDateSSIS": {
												"value": {
													"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"LogEventType": {
												"value": "3",
												"type": "Int16"
											},
											"PackageName": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"TaskName": {
												"value": {
													"value": "@concat('End Process - Save Log')",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "ls_azure_sql_db",
										"type": "LinkedServiceReference",
										"parameters": {
											"ParamDataSourceCode": {
												"value": "@pipeline().parameters.ParamdsrcIntegration",
												"type": "Expression"
											}
										}
									}
								}
							],
							"ifTrueActivities": [
								{
									"name": "Error execute pipeline",
									"type": "Fail",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"message": {
											"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
											"type": "Expression"
										},
										"errorCode": "0001"
									}
								}
							]
						}
					},
					{
						"name": "07_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "07_If Error Pipeline",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('07_If Error Pipeline').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamPipelineNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					},
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					}
				},
				"variables": {
					"RunId": {
						"type": "String",
						"defaultValue": "0"
					},
					"ExecutePipelineFinished": {
						"type": "String",
						"defaultValue": "false"
					},
					"VarUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"VarUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"RunStatus": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T16:46:33Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoadParallel')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "02_Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "03_Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "02_Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('02_Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 30,
							"activities": [
								{
									"name": "Execute Child Pipeline",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "pipADF_ADM_ExecuteLoad",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"ParamSubscription": {
												"value": "@pipeline().parameters.ParamSubscription",
												"type": "Expression"
											},
											"ParamResourceGroup": {
												"value": "@pipeline().parameters.ParamResourceGroup",
												"type": "Expression"
											},
											"ParamInstanceNameADF": {
												"value": "@pipeline().parameters.ParamInstanceNameADF",
												"type": "Expression"
											},
											"ParamPipelineNameADF": {
												"value": "@item().SequencePipelineName",
												"type": "Expression"
											},
											"ParamUrlExecutePipeline": {
												"value": "@pipeline().parameters.ParamUrlExecutePipeline",
												"type": "Expression"
											},
											"ParamUrlStatusRunIdPipeline": {
												"value": "@pipeline().parameters.ParamUrlStatusRunIdPipeline",
												"type": "Expression"
											},
											"ParamExecuteLoadCode": {
												"value": "@item().SequenceExecuteLoadCode",
												"type": "Expression"
											},
											"ParamExecuteLoadId": {
												"value": "@item().SequenceExecuteLoadId",
												"type": "Expression"
											},
											"ParamEnvironment": {
												"value": "@pipeline().parameters.ParamEnvironment",
												"type": "Expression"
											},
											"ParamCountryCode": {
												"value": "@pipeline().parameters.ParamCountryCode",
												"type": "Expression"
											},
											"ParamdsrcIntegration": {
												"value": "@item().dsrcIntegration",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "01_Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Childs Pipelines",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_End Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('04_End Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "03_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Childs Pipelines",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('03_Childs Pipelines').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "02_Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('02_Load ExecuteLoadSequence').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "01_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('01_Start Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "01_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "02_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "03_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "04_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
								"type": "Expression"
							},
							"errorCode": "0001"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					}
				},
				"variables": {
					"varSubscription": {
						"type": "String",
						"defaultValue": "0"
					},
					"varResourceGroup": {
						"type": "String",
						"defaultValue": "0"
					},
					"varInstanceNameADF": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T16:46:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]",
				"[concat(variables('factoryId'), '/pipelines/pipADF_ADM_ExecuteLoad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecuteLoadSecuence')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "02_Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "03_Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "02_Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('02_Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('varErrorBucle')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Execute Child Pipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipADF_ADM_ExecuteLoad",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ParamSubscription": {
															"value": "@pipeline().parameters.ParamSubscription",
															"type": "Expression"
														},
														"ParamResourceGroup": {
															"value": "@pipeline().parameters.ParamResourceGroup",
															"type": "Expression"
														},
														"ParamInstanceNameADF": {
															"value": "@pipeline().parameters.ParamInstanceNameADF",
															"type": "Expression"
														},
														"ParamPipelineNameADF": {
															"value": "@item().SequencePipelineName",
															"type": "Expression"
														},
														"ParamUrlExecutePipeline": {
															"value": "@pipeline().parameters.ParamUrlExecutePipeline",
															"type": "Expression"
														},
														"ParamUrlStatusRunIdPipeline": {
															"value": "@pipeline().parameters.ParamUrlStatusRunIdPipeline",
															"type": "Expression"
														},
														"ParamExecuteLoadCode": {
															"value": "@item().SequenceExecuteLoadCode",
															"type": "Expression"
														},
														"ParamExecuteLoadId": {
															"value": "@item().SequenceExecuteLoadId",
															"type": "Expression"
														},
														"ParamEnvironment": {
															"value": "@pipeline().parameters.ParamEnvironment",
															"type": "Expression"
														},
														"ParamCountryCode": {
															"value": "@pipeline().parameters.ParamCountryCode",
															"type": "Expression"
														},
														"ParamdsrcIntegration": {
															"value": "@item().dsrcIntegration",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set Error",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Execute Child Pipeline",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "varErrorBucle",
													"value": true
												}
											},
											{
												"name": "Fail1_copy1",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "Set Error",
														"dependencyConditions": [
															"Succeeded",
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
														"type": "Expression"
													},
													"errorCode": "0001"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "01_Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Childs Pipelines",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_End Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('04_End Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "03_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Childs Pipelines",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('03_Childs Pipelines').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "02_Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('02_Load ExecuteLoadSequence').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "01_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('01_Start Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "01_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "02_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "03_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "04_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
								"type": "Expression"
							},
							"errorCode": "0001"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					}
				},
				"variables": {
					"varSubscription": {
						"type": "String",
						"defaultValue": "0"
					},
					"varResourceGroup": {
						"type": "String",
						"defaultValue": "0"
					},
					"varInstanceNameADF": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlExecutePipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varUrlStatusRunIdPipeline": {
						"type": "String",
						"defaultValue": "0"
					},
					"varErrorBucle": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T16:46:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]",
				"[concat(variables('factoryId'), '/pipelines/pipADF_ADM_ExecuteLoad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_ADM_ExecutePipelineParent')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "03_Load ExecuteLoadSequence",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "02_GET ADF configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC AdminPackage.ExecuteLoadSequenceADF @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "04_Childs Pipelines",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "03_Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('03_Load ExecuteLoadSequence').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "If Condition1",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@variables('varErrorBucle')",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "Execute Child Pipeline",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pipADF_ADM_ExecuteLoad",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"ParamSubscription": {
															"value": "@string(activity('02_GET ADF configuration').output.firstRow.SubscriptionId)",
															"type": "Expression"
														},
														"ParamResourceGroup": {
															"value": "@string(activity('02_GET ADF configuration').output.firstRow.ResourceGroup)",
															"type": "Expression"
														},
														"ParamInstanceNameADF": {
															"value": "@string(activity('02_GET ADF configuration').output.firstRow.ADFInstanceName)",
															"type": "Expression"
														},
														"ParamPipelineNameADF": {
															"value": "@item().SequencePipelineName",
															"type": "Expression"
														},
														"ParamUrlExecutePipeline": {
															"value": "@string(activity('02_GET ADF configuration').output.firstRow.UrlExecutePipeline)",
															"type": "Expression"
														},
														"ParamUrlStatusRunIdPipeline": {
															"value": "@string(activity('02_GET ADF configuration').output.firstRow.UrlStatusRunIdPipeline)",
															"type": "Expression"
														},
														"ParamExecuteLoadCode": {
															"value": "@item().SequenceExecuteLoadCode",
															"type": "Expression"
														},
														"ParamExecuteLoadId": {
															"value": "@item().SequenceExecuteLoadId",
															"type": "Expression"
														},
														"ParamEnvironment": {
															"value": "@pipeline().parameters.ParamEnvironment",
															"type": "Expression"
														},
														"ParamCountryCode": {
															"value": "@pipeline().parameters.ParamCountryCode",
															"type": "Expression"
														},
														"ParamdsrcIntegration": {
															"value": "@item().dsrcIntegration",
															"type": "Expression"
														}
													}
												}
											},
											{
												"name": "Set Error",
												"type": "SetVariable",
												"dependsOn": [
													{
														"activity": "Execute Child Pipeline",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"variableName": "varErrorBucle",
													"value": true
												}
											},
											{
												"name": "Fail1_copy1",
												"type": "Fail",
												"dependsOn": [
													{
														"activity": "Set Error",
														"dependencyConditions": [
															"Succeeded",
															"Failed"
														]
													}
												],
												"userProperties": [],
												"typeProperties": {
													"message": {
														"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
														"type": "Expression"
													},
													"errorCode": "0001"
												}
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "02_GET ADF configuration",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[AdminPackage].[GetConfigurationADFInstance]",
								"storedProcedureParameters": {
									"CountryCode": {
										"type": "String",
										"value": {
											"value": "@pipeline().globalParameters.CountryCodeADF",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"schematablename": "0",
									"tablename": "0",
									"ParamDataSourceCode": {
										"value": "@pipeline().parameters.ParamdsrcIntegration",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "01_Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "05_End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Childs Pipelines",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "05_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "05_End Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('05_End Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Childs Pipelines",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('04_Childs Pipelines').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "03_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Load ExecuteLoadSequence",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('03_Load ExecuteLoadSequence').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "02_GET ADF configuration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('02_GET ADF configuration').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "01_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('01_Start Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "05_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "04_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "03_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "02_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "01_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
								"type": "Expression"
							},
							"errorCode": "0001"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string",
						"defaultValue": "Carga_BusinessApp"
					},
					"ParamEnvironment": {
						"type": "string",
						"defaultValue": "PRD_COL"
					},
					"ParamCountryCode": {
						"type": "string",
						"defaultValue": "CO"
					},
					"ParamExecuteLoadId": {
						"type": "string",
						"defaultValue": "100"
					},
					"ParamdsrcIntegration": {
						"type": "string",
						"defaultValue": "prd-col-businessapp"
					}
				},
				"variables": {
					"varErrorBucle": {
						"type": "Boolean",
						"defaultValue": false
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T16:46:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/pipelines/pipADF_ADM_ExecuteLoad')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipADF_CopyData_SqlServer_To_AzureSql_SP_TB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "04_Copy data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "03_Generar lista parametros",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": {
									"value": "@replace(json(variables('varListParameters')).storedNameSource,'@DateTodayInt',json(variables('varListParameters')).DateTodayInt)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink",
								"preCopyScript": {
									"value": "@json(variables('varListParameters')).precopyScript",
									"type": "Expression"
								},
								"writeBehavior": "insert",
								"sqlWriterUseTableLock": false
							},
							"enableStaging": false,
							"dataIntegrationUnits": 2,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {
									"ParamDataSourceCode": {
										"value": "@json(variables('varListParameters')).dsrcSource",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "AzureSqlTable1",
								"type": "DatasetReference",
								"parameters": {
									"schematablename": {
										"value": "@json(variables('varListParameters')).schemaTableDestination",
										"type": "Expression"
									},
									"tablename": {
										"value": "@json(variables('varListParameters')).tableNameDestination",
										"type": "Expression"
									},
									"ParamDataSourceCode": {
										"value": "@json(variables('varListParameters')).dsrcDestination",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "01_Start Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package Start Process','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('Start Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_GET Step configuration",
						"type": "Script",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						},
						"typeProperties": {
							"scripts": [
								{
									"type": "Query",
									"text": {
										"value": "EXEC [AdminPackage].[ExecuteLoadConfigurationStepADF] @{pipeline().parameters.ParamExecuteLoadCode} , @{pipeline().parameters.ParamEnvironment}",
										"type": "Expression"
									}
								}
							],
							"scriptBlockExecutionTimeout": "02:00:00"
						}
					},
					{
						"name": "03_Generar lista parametros",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "02_GET Step configuration",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('02_GET Step configuration').output.resultSets[0].rows",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "get parameter",
									"type": "SetVariable",
									"dependsOn": [],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varParameter",
										"value": {
											"value": "@string(union(json(variables('varListParameters')),json(concat('{\"',item().Parameter,'\":\"',item().ParameterValue,'\"}'))))",
											"type": "Expression"
										}
									}
								},
								{
									"name": "Add parameter to json parameters",
									"type": "SetVariable",
									"dependsOn": [
										{
											"activity": "get parameter",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"variableName": "varListParameters",
										"value": {
											"value": "@variables('varParameter')",
											"type": "Expression"
										}
									}
								}
							]
						}
					},
					{
						"name": "05_End Process - Save Log",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@concat('Package End Proces','')",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@formatDateTime(utcnow(), 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "1",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "05_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "05_End Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('05_End Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "04_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "04_Copy data",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('04_Copy data').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "03_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "03_Generar lista parametros",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('03_Generar lista parametros').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "02_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "02_GET Step configuration",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('02_GET Step configuration').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "01_End Process - Save Log Error",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "01_Start Process - Save Log",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[AdminPackage].[CaptureLogPackage]",
							"storedProcedureParameters": {
								"Comments": {
									"value": {
										"value": "@{activity('01_Start Process - Save Log').error.message}",
										"type": "Expression"
									},
									"type": "String"
								},
								"CountryCode": {
									"value": {
										"value": "@pipeline().parameters.ParamCountryCode",
										"type": "Expression"
									},
									"type": "String"
								},
								"Enviroment": {
									"value": {
										"value": "@pipeline().parameters.ParamEnvironment",
										"type": "Expression"
									},
									"type": "String"
								},
								"ExecuteLoadConfiguration": {
									"value": {
										"value": "@pipeline().parameters.ParamExecuteLoadId",
										"type": "Expression"
									},
									"type": "Int16"
								},
								"LoadDateSSIS": {
									"value": {
										"value": "@convertTimeZone(utcNow(),'UTC','SA Pacific Standard Time', 'dd-MMM-yyyy hh:mm:ss tt')",
										"type": "Expression"
									},
									"type": "DateTime"
								},
								"LogEventType": {
									"value": "2",
									"type": "Int16"
								},
								"PackageName": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"TaskName": {
									"value": {
										"value": "@concat('End Process - Save Log')",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "ls_azure_sql_db",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamDataSourceCode": {
									"value": "@pipeline().parameters.ParamdsrcIntegration",
									"type": "Expression"
								}
							}
						}
					},
					{
						"name": "Fail1",
						"type": "Fail",
						"dependsOn": [
							{
								"activity": "05_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "04_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "03_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "02_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "01_End Process - Save Log Error",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"message": {
								"value": "@concat('Se generó un error en el paso ', pipeline().parameters.ParamExecuteLoadCode)",
								"type": "Expression"
							},
							"errorCode": "0001"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"ParamExecuteLoadCode": {
						"type": "string"
					},
					"ParamExecuteLoadId": {
						"type": "string"
					},
					"ParamEnvironment": {
						"type": "string"
					},
					"ParamCountryCode": {
						"type": "string"
					},
					"ParamdsrcIntegration": {
						"type": "string"
					},
					"ParamSubscription": {
						"type": "string"
					},
					"ParamResourceGroup": {
						"type": "string"
					},
					"ParamInstanceNameADF": {
						"type": "string"
					},
					"ParamUrlExecutePipeline": {
						"type": "string"
					},
					"ParamUrlStatusRunIdPipeline": {
						"type": "string"
					}
				},
				"variables": {
					"varListParameters": {
						"type": "String",
						"defaultValue": "{}"
					},
					"varParameter": {
						"type": "String"
					}
				},
				"folder": {
					"name": "YanbalPipelines/YanbalODS_BusinessApp"
				},
				"annotations": [],
				"lastPublishTime": "2024-04-11T16:46:34Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]",
				"[concat(variables('factoryId'), '/datasets/AzureSqlTable1')]",
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_azure_sql_db",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "prd-col-businessapp"
					}
				},
				"parameters": {
					"schematablename": {
						"type": "string",
						"defaultValue": "0"
					},
					"tablename": {
						"type": "string",
						"defaultValue": "0"
					},
					"ParamDataSourceCode": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schematablename",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tablename",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_azure_sql_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_server_db",
					"type": "LinkedServiceReference",
					"parameters": {
						"ParamDataSourceCode": "prd-col-yanbalreportsods"
					}
				},
				"parameters": {
					"ParamDataSourceCode": {
						"type": "string",
						"defaultValue": "0"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_server_db')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Kv_connection_string')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ParamUrlKeyVault": {
						"type": "string",
						"defaultValue": "https://kvprdcol.vault.azure.net/"
					}
				},
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('Kv_connection_string_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_azure_sql_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ParamDataSourceCode": {
						"type": "string",
						"defaultValue": "prd-col-businessapp"
					}
				},
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Kv_connection_string",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamUrlKeyVault": "https://kvprdcol.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "[parameters('ls_azure_sql_db_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Kv_connection_string')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_server_db')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"parameters": {
					"ParamDataSourceCode": {
						"type": "string",
						"defaultValue": "prd-col-yanbalreportsods"
					}
				},
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "Kv_connection_string",
							"type": "LinkedServiceReference",
							"parameters": {
								"ParamUrlKeyVault": "https://kvprdcol.vault.azure.net/"
							}
						},
						"secretName": {
							"value": "[parameters('ls_sql_server_db_properties_typeProperties_connectionString_secretName')]",
							"type": "Expression"
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/Kv_connection_string')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks",
			"apiVersion": "2018-06-01",
			"properties": {},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/SQLAZ-PEP-DEV-02')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('SQLAZ-PEP-DEV-02_properties_privateLinkResourceId')]",
				"groupId": "[parameters('SQLAZ-PEP-DEV-02_properties_groupId')]",
				"fqdns": "[parameters('SQLAZ-PEP-DEV-02_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/SQLAZ-PEP-PRD-02')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('SQLAZ-PEP-PRD-02_properties_privateLinkResourceId')]",
				"groupId": "[parameters('SQLAZ-PEP-PRD-02_properties_groupId')]",
				"fqdns": "[parameters('SQLAZ-PEP-PRD-02_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/default/SQLAZ-PEP-UAT-02')]",
			"type": "Microsoft.DataFactory/factories/managedVirtualNetworks/managedPrivateEndpoints",
			"apiVersion": "2018-06-01",
			"properties": {
				"privateLinkResourceId": "[parameters('SQLAZ-PEP-UAT-02_properties_privateLinkResourceId')]",
				"groupId": "[parameters('SQLAZ-PEP-UAT-02_properties_groupId')]",
				"fqdns": "[parameters('SQLAZ-PEP-UAT-02_properties_fqdns')]"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/managedVirtualNetworks/default')]"
			]
		}
	]
}